@model ContactClubVM
@{
    var caption = Model.Id > 0 ? "Edit Contact Club" : "Add New Contact Club";
}

<div id="pageHeading">
    <h2 class="headingAndButton"> <i class="fa fa-address-book"></i> CONTACT CLUBS</h2>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary floatRight">Go to Contact Clubs</a>
    <h4 style="margin-left:25px;">@caption</h4>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="pad">      
            <form action='@Url.Action("ContactClubAddEdit", "ContactClub")', method="post" id="contactClubtEditForm" role="form">
            @*{*@
                @Html.HiddenFor(m => m.Id)
                <div class="form-group divContactClub">
                    @Html.LabelFor(m => m.AvailableCountries)
                    <select class="form-control" name="Country" data-url="@Url.Action("ContactClubAddEdit")">
                        @foreach (var country in Model.AvailableCountries)
                        {
                            <option value=@country.Code>@country.Name</option>
                        }
                    </select>
                    <select class="form-control" name="League">
                        @foreach (var leagueVM in Model.AvailableLeagues)
                        {
                            <option value=@leagueVM.Id>@leagueVM.Name</option>
                        }
                    </select>
                    <select class="form-control" name="Team">
                        @foreach (var teamVM in Model.AvailableTeams)
                        {
                            <option value=@teamVM.Id>@teamVM.Name</option>
                        }
                    </select>
                   


                <p>
                    @Html.ValidationSummary(false, "", new { @class = "text-danger field-validation-error" })
                </p>
                <input type="submit" class="btn btn-primary" value="Save" />
                <a href="/Contact" class="btn btn-default">Cancel</a>
             </form>
        </div>
    </div>
</div>