@model ContactClubVM
@{
    var caption = Model.Id > 0 ? "Edit Contact Club" : "Add New Contact Club";
}

<div id="pageHeading">
    <h2 class="headingAndButton"> <i class="fa fa-address-book"></i> CONTACT CLUBS</h2>
</div>
<div>
    <a href="@Url.Action("Index")" class="btn btn-primary floatRight">Go to Contact Clubs</a>
    <h4 style="margin-left:25px;">@caption</h4>
</div>
<div class="row">
    <div class="col-md-10">
        <div class="pad">
            <form action='@Url.Action("ContactClubAddEdit", "ContactClub")' , method="post" id="contactClubtEditForm" role="form">
                @Html.HiddenFor(m => m.Id)
                <div class="row col-md-6 form-group divContactClub">                  
                    <label asp-for="Country" class="control-label"></label>
                    <select class="form-control" name="Country" data-url="@Url.Action("ContactClubAddEdit")">
                        @foreach (var country in Model.AvailableCountries)
                        {
                            if (country.Code == Model.CountryCode)
                            {
                                <option value=@country.Code selected>@country.Name</option>
                            }
                            <option value=@country.Code>@country.Name</option>
                        }
                    </select>
                </div>
                <div class="row col-md-6 form-group divContactClub">
                    <label asp-for="League" class="control-label"></label>
                    <select class="form-control" name="League">
                        @foreach (var leagueVM in Model.AvailableLeagues)
                        {
                            if (leagueVM.Id == Convert.ToInt32(Model.League))
                            {
                                <option value=@leagueVM.Id selected>@leagueVM.Name</option>
                            }
                            <option value=@leagueVM.Id>@leagueVM.Name</option>
                        }
                    </select>
                </div>
                <div class="row col-md-6 form-group divContactClub">
                    <label asp-for="Team" class="control-label"></label>
                    <select class="form-control" name="Team">
                        @foreach (var teamVM in Model.AvailableTeams)
                        {
                            if (teamVM.Id == Convert.ToInt32(Model.Team))
                            {
                                <option value=@teamVM.Id selected>@teamVM.Name</option>
                            }
                            <option value=@teamVM.Id>@teamVM.Name</option>
                        }
                    </select>
                </div>
                    <div class="row col-md-6 form-group divContactClub">
                    <label asp-for="Name" class="control-label"></label>
                    <input class="form-control" type="text" name="Name" />
                </div>
                <div class="row col-md-6 form-group divContactClub">
                    <label asp-for="Position" class="control-label"></label>
                    <input class="form-control" type="text" name="Position" />
                </div>
                <div class="row col-md-6 form-group divContactClub">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input class="form-control" type="tel" name="PhoneNumber" />
                </div>
                <div class="row col-md-6 form-group divContactClub">
                    <label asp-for="Email" class="control-label"></label>
                    <input class="form-control" type="email" name="Email" />
                </div>
                <div class="row col-md-6 form-group divContactClub">
                    <label asp-for="Comments" class="control-label"></label>
                    <textarea class="form-control" name="Comments"></textarea>
                </div>
                <div class="row col-md-6 form-group divContactClub">
                    <label asp-for="IsAgent" class="control-label"></label>
                    <input type="checkbox" value="true" name="IsAgent" />
                </div>       
                <input type="submit" class="btn btn-primary" value="Save" />
                <a href="/Contact" class="btn btn-default">Cancel</a>
            </form>
        </div>
    </div>
</div>