<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BTC Project Portal</title>
    @* Bootstrap v4.3.1 *@
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
       <!-- Ionicons -->
    <link rel="stylesheet" href="@Url.Content("~/bower_components/Ionicons/css/ionicons.min.css")">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/admin-lte/css/AdminLTE.css" />
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/admin-lte/css/skins/_all-skins.min.css" />
    <!-- Morris chart -->
    <link rel="stylesheet" href="@Url.Content("~/bower_components/morris.js/morris.css")">
    <!-- jvectormap -->
    <link rel="stylesheet" href="@Url.Content("~/bower_components/jvectormap/jquery-jvectormap.css")">
    <!-- Date Picker -->
    <link rel="stylesheet" href="@Url.Content("~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css")">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="@Url.Content("~/bower_components/bootstrap-daterangepicker/daterangepicker.css")">
    <!-- DatePicker -->
    <link rel="stylesheet" href="~/css/datepicker.min.css" />
    <!--Font Awesome-->
    <link rel="stylesheet" href="@Url.Content("~/bower_components/fontawesome/css/all.min.css")" />
       <!-- jQuery 3 -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Notify JS -->
    <script src="~/js/notify.min.js"></script>
    <!-- jQuery UI 1.12.1 -->
    <script src="~/lib/jquery-ui-1.12.1/jquery-ui.min.js"></script>
    <!-- Kendo -->
    <script src="~/kendo/2018.2.620/kendo.all.min.js"></script>
    <script src="~/kendo/2018.2.620/kendo.aspnetmvc.min.js"></script>
    <link href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="https://kendo.cdn.telerik.com/2018.2.620/styles/kendo.default.min.css" rel="stylesheet" />
    @* Site css *@
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/js/datepicker.min.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <partial name="_mainHeader" />
        <partial name="_mainSidebar" />
        <div class="content-wrapper">
            <div class="container dashboard biotechContainer">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
        </div>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 - BioTech - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <!-- DatePicker -->
    @*<script src="~/js/datepicker.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/manage.js"></script>
    <!-- Morris.js charts -->
    <script src="@Url.Content("~/bower_components/raphael/raphael.min.js")"></script>
    <script src="@Url.Content("~/bower_components/morris.js/morris.min.js")"></script>
    <!-- Sparkline -->
    <script src="@Url.Content("~/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js")"></script>
    <!-- jQuery Knob Chart -->
    <script src="@Url.Content("~/bower_components/jquery-knob/dist/jquery.knob.min.js")"></script>
    <!-- daterangepicker -->
    <script src="@Url.Content("~/bower_components/moment/min/moment.min.js")"></script>
    <script src="@Url.Content("~/bower_components/bootstrap-daterangepicker/daterangepicker.js")"></script>
    <!-- datepicker -->
    <script src="@Url.Content("~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
    <!-- Slimscroll -->
    <script src="@Url.Content("~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/bower_components/fastclick/lib/fastclick.js")"></script>
    <!-- AdminLTE App -->
    <script src="@Url.Content("~/admin-lte/js/adminlte.min.js")"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
