@model IEnumerable<InvoiceProject>
@{ Layout = null;
    // Display string representations of numbers for en-us culture
    CultureInfo ci = new CultureInfo("en-us");
    var invoicesGroupedByContractNumber = Model.GroupBy(i => i.ContractNumber);
    var formattedName = ($"{Model.FirstOrDefault().ProjectNumber}-{Model.FirstOrDefault().ProjectTitle}");
    var totalOpenBalance = Model.Sum(i => i.TotalInvoiced);
}
<table class="tbReport">
    <tr class="bold">
        <th>Type</th>
        <th>Date</th>
        <th>Num</th>
        <th>Memo</th>
        <th>Due Date</th>
        <th>Company Name</th>
        <th>Open Balance</th>
    </tr>
    <tr class="bold"><td>@formattedName</td></tr>
    @foreach (var invoiceByCN in invoicesGroupedByContractNumber)
    {
        <tr class="bold"><td>@invoiceByCN.Key</td></tr>
        var counter = 0;
        foreach (var invoice in invoiceByCN)
        {
            counter++;
            <tr>
                <td>Invoice</td>
                <td>@invoice.InvoiceDate.ToString("MM/dd/yyyy")</td>
                <td>@invoice.InvoiceNumber</td>
                <td>@invoice.Note</td>
                <td>@invoice.InvoiceDate.AddDays(30).ToString("MM/dd/yyyy")</td>
                <td>@invoice.Contact.Company.Name</td>
                @{
                    if (counter == invoiceByCN.Count())
                    {
                        <td class="borderBottom">@invoice.TotalInvoiced.ToString("C", ci)</td>
                    }
                    else
                    {
                        <td>@invoice.TotalInvoiced.ToString("C", ci)</td>
                    }
                }

            </tr>
        }
        <tr style="padding-top: 12px;"><td>Total @invoiceByCN.Key</td><td></td><td></td><td></td><td></td><td></td><td>@invoiceByCN.Sum(i => i.TotalInvoiced).ToString("C", ci)</td></tr>

    }
    <tr>
        <td>Total @formattedName </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>@totalOpenBalance.ToString("C", ci)</td>
    </tr>
    <tr>
        <td class="bold">TOTAL</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="bold borderBottomSolid">@totalOpenBalance.ToString("C", ci)</td>
    </tr>

</table>

<style>
    .bold {
        font-weight: bold;
    }

    th {
        border-bottom: solid black;
        border-width: 1px;
        padding: 0 15px 0 15px;
    }

    table {
        border-spacing: 10px;
        border-collapse: separate;
        width: 900px;
        margin-left: 100px;
    }
    .borderBottom {
        border-bottom: solid black;
        border-width:1px;
    }
    .borderBottomSolid {
    border-bottom:solid black;
    }
    .tbReport td {
        text-align: center;
        margin-left: 200px;
    }
</style>
